{
  "extends": "eslint-config-airbnb-es5",
  // I want to use babel-eslint for parsing!
  //"parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true,
    "jest": true
  },
  "globals": { "Promise": true },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      "flowVersion": "0.53" // Flow version
    }
  },
  // To give you an idea how to override rule options:
  "rules": {
    //"quotes": [2, "single"],
    //"eol-last": [2],
    //"no-mixed-requires": [0],
    //"no-underscore-dangle": [0],
    "indent": ["error", 2, { "SwitchCase": 1 }],

    // React-specific
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    "react/no-did-mount-set-state": [0],
    "react/no-multi-comp": 0
  }
}
